@import '../../super.scss';

#door-board{
    width: 300px;
    height: 90vh;
    background-color: $doorinfo-color;
    position: absolute;
    right: 0px;
    overflow-y: scroll;
    z-index: 100;
    .toggle{
        position: absolute;
        font-size: 30px;
        color: white;
        left: 0%;
    }
    .door-info{
        width: 100%;
        height: 18%;
        border-bottom: solid 1px grey;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        .door{
            font-size: 45px;
            color: #f09595;
        }
        .info{
            .door-name{
                color: #f09595;
            }
            .points{
                color: #6d71c9;
                margin-bottom: 0px;
            }
        }
        .winner-img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}
#door-board::-webkit-scrollbar {
    width: 2px;
}

#door-board::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#door-board::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50%;
}
