@import '../../super.scss';

#door-board{
    height: 90vh;
    background-color: $doorinfo-color;
    position: absolute;
    right: 0px;
    overflow-y: scroll;
    z-index: 100;
    transition: all 0.5s;
    overflow-x: hidden;
    .toggle-2{
        position: fixed;
        font-size: 5vh;
        color: white;
        right: -1.5%;
        transition: all 0.5s;
        top: 50%;
    }
    .togg-tra{
        right: 20.5%;
    }
    .door-info{
        width: 100%;
        height: 18%;
        border-bottom: solid 1px grey;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        .door{
            font-size: 6vh;
            //color: #f09595;
        }
        .info{
            .door-name{
                //color: #f09595;
                margin-bottom: 1vh;
                animation: text 0.5s 1;
            }
            .points{
                color: #6d71c9;
                margin-bottom: 0px;
                animation: text 0.5s 1;
            }
            .tex{
                font-size: 0vh;
                transition: all 0.5s;
            }
            .tex-tra{
                font-size: 3vh;
            }
        }
        .img-cont{
            width: 25%;
            .winner-img{
                height: 8vh;
                border-radius: 50%;
            }
        }
    }
}
.bor{
    width: 0%;
}
.bor-tra{
    width: 22%;
}

#door-board::-webkit-scrollbar {
    width: 2px;
}

#door-board::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#door-board::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50%;
}

.color-purple{
    color: #A57BAF;
}

.door-info::before{
    position: absolute;
    content: '';
    height: 18%;
    width:1%;
    background-color: #6d71c9;
    transition: 10ms;
}

.door-info:hover::before{
    transition: 10ms;
    z-index: -1;
    position: absolute;
    content: '';
    height: 18%;
    width:35%;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to right,rgba(109,113,201,0.85), rgba(109,113,201,0),rgba(109,113,201,0));
}

.door-info:hover{
    color:#E2BCEB;
}