#photo-model{
    background-image: url('../../../assets/images/photo.png');
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    margin-left: -12%;
    top : 15%;
    z-index: 50;
    width: 25%;
    height: 70%;
    .close{
        color: black;
        font-size: 50px;
        position: relative;
        top : 2%;
        right: -15%;
    }
    .clue{
        background-image: url('../../../assets/images/my0.png');
        background-size: 100% 100%;
        position: absolute;
        top: 7%;
        left: 9%;
        height: 86%;
        width: 81.9%;
    }
}