@import '../../super.scss';

#main{
    height: 90vh;
    width: 100%;
    background-image: url('../../assets/images/with\ florr.jpg');
    background-size: 100% 100%;
    .cover-image{
        position: absolute;
        width: 100%;
        height: 67.5%;
        z-index: 0;
        .cover-clue{
            height: 100%;
            width: 100%;
        }
    }
    .door-btn{
        position: absolute;
        right: 0%;
        font-size: 4vh;
        top: 50%;
        background-color: white;
        width: 2.5%;
        height: 5.5vh;
        text-align: center;
        border-radius: 5px 0px 0px 5px;
        opacity: 1px;
        transition: all 0.5s;
    }
    .chat-btn{
        position: fixed;
        left: 0%;
        bottom: 0%;
        background-color: white;
        width: 8%;
        height: 4vh;
        font-size: 2.5vh;
        text-align: center;
        border-radius: 0px 5px 0px 0px;
        opacity: 1;
        transition: all 0.5s;
    }
    .toggle-chat{
        opacity: 0;
    }
    .mascot-hint{
        width: 100%;
        position: fixed;
        bottom: 10%;
        height: 30%;
        z-index: 25;
        .bulb{
            position: absolute;
            color: gold;
            bottom: 50%;
            left: 6%;
            font-size: 7vh;
            animation: hint 1s infinite;
            z-index: 26;
        }
        .bubble{
            position: absolute;
            background-color: $bubble-color;
            text-align: center;
            border-radius: 5px;
            bottom: 60%;
            left: 6%;
            z-index: 26;
            padding: 1vh;
            width: 20%;
            height: auto;
            p{
                margin: 0px;
                font-size:2vh;
            }
        }
        .bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0%;
            width: 0;
            height: 0;
            border: 3vh solid transparent;
            border-top-color: $bubble-color;
            border-bottom: 0;
            border-left: 0;
            margin-left: 5%;
            margin-bottom: -3vh;
        }
        #mascot{
            position: absolute;
            bottom: 0%;
            height: 65%;
            //top:70%;
            z-index: 25;
        }
        .mascot{
            animation: mascot 6s 1;
        }
    }
    .contain{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        #wall{
            grid-column: 1/2;
            height: 90vh;
            .graf{
                border : solid 1vh #523629;
                background-color: white;
                position: absolute;
                top:25%;
                left: 15%;
                width: 18%;
                z-index: 40;
                transition: all 0.5s;
                font-size: 2.8vh;
                .p{
                    margin-top: 1vh;
                    width: 100%;
                }
            }
            .big-n{
                width: 36%;
                border : solid 2vh #523629;
                font-size: 5.6vh;
                left: 50%;
                position: fixed;
                margin-left: -18%;
            }
        }
        #door{
            grid-column: 2/3;
            height: 90vh;
            .d-img{
                background-image: url('../../assets/images/door.png');
                background-size: 100% 100%;
                position: relative;
                top:17.5%;
                left: 18.3%;
                width: 50.5%;
                height: 60%;
                .d-lock{
                    background-image: url('../../assets//images/lock.png');
                    background-size: 100% 100%;
                    position: relative;
                    top: 40%;
                    left: 68%;
                    height: 13%;
                    width: 20%;
                }
            }
        }
        #photo{
            grid-column: 3/4;
            height: 90vh;
            .pho-3{
                margin-left: 15%;
            }
            .no-p2{
                left: 37%;
            }
        }
        .p-img{
            background-image: url('../../assets/images/photo.png');
            background-size: 100% 100%;
            position: relative;
            top:30%;
            left: 10%;
            width: 27%;
            height: 23%;
            .clue{
                position: relative;
                top: 7%;
                left: 9%;
                height: 86%;
                width: 81.9%;
                .clue-img{
                    /*width: auto;
                    max-height: 100%;
                    object-fit: contain;*/
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}


@keyframes mascot {
    0%{
        left : 0%;
    }
    45%{
        transform: scaleX(1);
    }
    50%{
        left : 70%;
        transform: scaleX(-1);
    }
    95%{
        transform: scaleX(-1);
    }
    100%{
        left : 0%;
    }
}
@keyframes hint{
    0%{
        transform: scale(.9) rotateZ(20deg);
        color: goldenrod;
    }
    50%{
        transform: scale(1) rotateZ(20deg);
        color: gold;
    }
    100%{
        transform: scale(.9) rotateZ(20deg);
        color: goldenrod;
    }
}