.score-background{
  background-color: #212121;
  color: #fefefe;
  justify-content: space-between;
  align-items: center;
  height: 16vh;
}

.score-background *{
  margin: 0;
  padding: 0;
}

.prof-img{
  border-radius: 50%;
  height: 8vh;
}

.score-cover{
  background-color: #242e39;
}