@import '../../super.scss';

.nbar{
    background-color: $navbar-color;
    height: 10vh;
    color: white;
    .score{
        margin-right: 3vw;
    }
    .name{
        margin-right: 2vw;
    }
    .tex{
        font-size: 3vh;
        font-weight: bold;
        margin-top: 1vh;
    }
    .logo{
        height: 5vh;
    }
    .prof-img{
        border-radius: 50%;
        height: 6vh;
    }
}