@import '../../super.scss';

.nbar{
    background-color: $navbar-color;
    height: 10vh;
    color: white;
    .score{
        margin-right: 4vw!important;
        font-weight: 400!important;
    }
    .name{
        margin-right: 0.1vw!important;
    }
    .tex{
        align-self: center;
        text-align: center;
        margin: 0;
        font-size: 2.8vh;
        font-weight: 500;
    }
    .prof-img{
        border-radius: 50%;
        height: 6vh;
    }
}

.logo{
    top:-5vh;
    position: absolute;
    height: 20vh;
}

.box-logout{
    border-radius: 0!important;
    background-color: #444!important;
    color: white!important;
}

.box-logout a{
    color: #cccccc!important;
}

.box-logout a:hover,.box-logout a:focus{
    background-color: #212121!important;

}

.navbar{
    padding: 0!important;
}