@import '../../super.scss';

#chat-area{
    width: 22%;
    background-color: $doorinfo-color;
    position: absolute;
    transition: all 0.5s;
    z-index: 100;
    left: 0%;
    bottom: 0%;
    .toggle-3{
        position: absolute;
        font-size: 5vh;
        color: white;
        top: 0%;
        left: 90%;
    }
}
.cha{
    height: 6vh;
    overflow: hidden;
}
.cha-tra{
    height: 90vh;
    border-radius: 0px;
    left: 0%;
}

#chat-area .toggle-3 {
    z-index: 5;
}
