
.notice{
    position: fixed;
    left: 50%;
    margin-left: -18%;
    z-index: 50;
    background-color: #ffffff;
    top:25%;
    width: 36%;
    border : solid 2vh #523629;
    font-size: 5.6vh;
    .close{
        color: black;
        font-size: 7vh;
        position: absolute;
        top : -4vh;
        right: -15%;
    }
    .p{
        margin-top: 1vh;
        width: 100%;
    }
}