#answer-model{
    background-image: url('../../../assets/images/lock.png');
    background-size: 100% 100%;
    position: fixed;
    left: 50%;
    margin-left: -17.5%;
    top : 15%;
    z-index: 50;
    width: 35%;
    height: 70%;
    .close{
        color: black;
        font-size: 50px;
        position: relative;
        top : 2%;
        right: -12%;
    }
    .t-box{
        background-color: transparent;
        text-align: center;
        font-size: 5vh;
        position: absolute;
        top: 12.6%;
        left: 13.5%;
        height: 12.2%;
        width: 73%;
    }
    .t-box:focus{
        border: none;
    }
}